---
import { Icon } from 'astro-icon/components';

import { cva } from 'class-variance-authority';

import type { HTMLAttributes } from 'astro/types';
import type { VariantProps } from 'class-variance-authority';

const linkVariants = cva('', {
  variants: {
    variant: {
      note: 'Note',---
import { Icon } from 'astro-icon/components';

import clsx from 'clsx';

import Prose from '@/components/Prose.astro';

export interface Props {
  type?: 'note' | 'tip' | 'info' | 'warning' | 'danger';
  title?: string;
}

const typeToTitle = {
  note: 'Note',
  info: 'Info',
  tip: 'Tip',
  warning: 'Warning',
  danger: 'Danger',
};

const { type = 'note', title = typeToTitle[type] } = Astro.props as Props;
---

<aside
  class={clsx(
    'mx-8 mb-4 rounded-xl px-4 py-1 text-slate-900 transition-colors duration-500 dark:prose-invert',
    {
      'bg-slate-100 border border-slate-200 dark:border-slate-800 dark:bg-slate-900':
        type === 'note',
      'bg-blue-100 border border-blue-200 dark:border-blue-800 dark:bg-blue-900': type === 'info',
      'bg-green-100 border border-green-200 dark:border-green-800 dark:bg-green-900':
        type === 'tip',
      'bg-orange-100 border border-orange-200 dark:border-orange-900 dark:bg-orange-950':
        type === 'warning',
      'bg-red-100 border border-red-200 dark:border-red-800 dark:bg-red-900': type === 'danger',
    }
  )}
  aria-label={title}
>
  <p
    aria-hidden="true"
    class={clsx(
      '!-mb-2 !mt-2 flex flex-row items-center gap-1 text-lg font-bold transition-colors duration-500',
      {
        'text-slate-900 dark:text-slate-100': type === 'note',
        'text-blue-900 dark:text-blue-100': type === 'info',
        'text-green-900 dark:text-green-100': type === 'tip',
        'text-orange-900 dark:text-orange-100': type === 'warning',
        'text-red-900 dark:text-red-100': type === 'danger',
      }
    )}
  >
    <Icon name={type} class="inline h-6 w-6" />
    {title}
  </p>
  <section>
    <Prose>
      <div class="prose-sm lg:prose-base xl:prose-base">
        <slot />
      </div>
    </Prose>
  </section>
</aside>

  info: 'Info',
  tip: 'Tip',
  warning: 'Warning',
  danger: 'Danger',
    },
    // size: {},
  },
  // compoundVariants: [],
});

export interface Props {
  type?: 'note' | 'tip' | 'info' | 'warning' | 'danger';
  title?: string;
}

const typeToTitle = {
  note: 'Note',
  info: 'Info',
  tip: 'Tip',
  warning: 'Warning',
  danger: 'Danger',
};

const { type = 'note', title = typeToTitle[type] } = Astro.props as Props;
---

<aside
  class={clsx(
    'mx-8 mb-4 rounded-xl px-4 py-1 text-slate-900 transition-colors duration-500 dark:prose-invert',
    {
      'bg-slate-100 border border-slate-200 dark:border-slate-800 dark:bg-slate-900':
        type === 'note',
      'bg-blue-100 border border-blue-200 dark:border-blue-800 dark:bg-blue-900': type === 'info',
      'bg-green-100 border border-green-200 dark:border-green-800 dark:bg-green-900':
        type === 'tip',
      'bg-orange-100 border border-orange-200 dark:border-orange-900 dark:bg-orange-950':
        type === 'warning',
      'bg-red-100 border border-red-200 dark:border-red-800 dark:bg-red-900': type === 'danger',
    }
  )}
  aria-label={title}
>
  <p
    aria-hidden="true"
    class={clsx(
      '!-mb-2 !mt-2 flex flex-row items-center gap-1 text-lg font-bold transition-colors duration-500',
      {
        'text-slate-900 dark:text-slate-100': type === 'note',
        'text-blue-900 dark:text-blue-100': type === 'info',
        'text-green-900 dark:text-green-100': type === 'tip',
        'text-orange-900 dark:text-orange-100': type === 'warning',
        'text-red-900 dark:text-red-100': type === 'danger',
      }
    )}
  >
    <Icon name={type} class="inline h-6 w-6" />
    {title}
  </p>
  <section>
    <Prose>
      <div class="prose-sm lg:prose-base xl:prose-base">
        <slot />
      </div>
    </Prose>
  </section>
</aside>
