---
import Link from '@/components/Link.astro';
import { cn } from '@/utils/styles';

import type { HTMLAttributes } from 'astro/types';

export interface Heading {
  text: string;
  slug: string;
  headings: Heading[];
}

export interface Props extends HTMLAttributes<'aside'> {
  headings: Heading[];
}

const { headings, class: className } = Astro.props as Props;

const getHref = (slug: string) => `#${slug}`;
---

<aside class={cn('toc md:max-w-lg rounded-box border border-base-300 p-4 mx-auto', className)}>
  <h2 class="b-h2 mt-4">Table of contents</h2>

  <ol class="ol-nested-decimal my-0">
    {
      headings.map(({ slug, text, headings: subHeadings }) => (
        <li class="my-0">
          <Link href={getHref(slug)}>{text}</Link>

          {subHeadings.length > 0 && (
            <ol class="mt-0 mb-2">
              {subHeadings.map(({ slug, text }) => (
                <li class="my-0">
                  <Link href={getHref(slug)}>{text}</Link>
                </li>
              ))}
            </ol>
          )}
        </li>
      ))
    }
  </ol>
</aside>
