---
import { Icon } from 'astro-icon/components';

import { getCategoryLinks, getCategoryProps } from '@/modules/post/category';
import { getAllPosts } from '@/modules/post/common';
import List from '@/layouts/List.astro';
import Button from '@/components/Button.astro';
import FilterList from '@/components/FilterList.astro';
import { getPageMetadata } from '@/utils/metadata';

import type { FilterLink } from '@/types/post';

const posts = await getAllPosts();
const categoryLinks = getCategoryLinks(posts);

const metadata = getPageMetadata('lists/blog/categories');
---

<List {metadata}>
  <section>
    <FilterList class="mb-4" itemLinks={categoryLinks}>
      {
        ({ href, text, textWithCount }: FilterLink) => {
          const { icon } = getCategoryProps(text);

          return (
            <Button href={href} size="md">
              <Icon name={icon} slot="before-icon" />
              {textWithCount}
            </Button>
          );
        }
      }
    </FilterList>
  </section>
</List>
