---
import { Image } from 'astro:assets';

import Centered from '@/layouts/Centered.astro';
import Breadcrumbs from '@/components/Breadcrumbs.astro';
import Button from '@/components/Button.astro';
import { BreadcrumbItemHome } from '@/constants/breadcrumb';
import { PROFILE } from '@/constants/profile';
import { ROUTES } from '@/constants/routes';
import { CONFIG_CLIENT } from '@/config/client';

import MeInBlackSrc from '@/assets/images/mazipan-in-black.jpg';

const {
  SITE_URL,
  AUTHOR_NAME,
  AUTHOR_GITHUB,
  AUTHOR_LINKEDIN,
  AUTHOR_TWITTER,
  AUTHOR_YOUTUBE,
  AUTHOR_EMAIL,
} = CONFIG_CLIENT;

const breadcrumbs = [BreadcrumbItemHome];
const schema = JSON.stringify({
  '@context': 'https://schema.org',
  '@type': 'ProfilePage',
  dateCreated: '2019-12-19T12:34:00-05:00',
  dateModified: '2024-12-18T14:53:00-05:00',
  mainEntity: {
    '@type': 'Person',
    name: AUTHOR_NAME,
    url: SITE_URL + ROUTES.ABOUT,
    email: AUTHOR_EMAIL,
    sameAs: [AUTHOR_LINKEDIN, AUTHOR_TWITTER, AUTHOR_YOUTUBE],
    alternateName: 'mazipan',
    image: SITE_URL + '/avatars/avatar-mazipan.png',
  },
});
---

<Centered
  metadata={{
    title: 'About',
  }}
>
  <article class="flex flex-col">
    <Breadcrumbs items={breadcrumbs} />
    <h1 class="b-h1">I'm Irfan Maulana.</h1>
    <b>You can call me "mas ipan"</b>
    <div class="my-8 flex flex-col-reverse gap-16 md:flex-row md:items-start md:justify-between">
      <div class="space-y-6">
        <p>
          {PROFILE.TAGLINE}
        </p>
        <h3 class="b-h1">I write some stuffs</h3>
        <p>
          I don’t write all that often, but you’re welcome to explore my public writings. I mostly
          share personal experiences on technical topics and occasionally throw in some
          beginner-friendly advice from my perspective. <a
            href={ROUTES.BLOG}
            class="bg-primary px-2 text-primary-content hover:bg-primary-hover hover:underline"
          >
            Visit my blog
          </a>
        </p>

        <h3 class="b-h1">Randomly speaking</h3>
        <p>
          I speak on a variety of topics, including JavaScript, React.js, Next.js, and web
          technologies in general. I also cover areas like contributing to open source, exploring
          architectural approaches in frontend development, and choosing the right tech stack to
          align with your team’s needs. Additionally, I enjoy sharing insights on how to advance
          your skills as an engineer and providing career advice based on my personal experiences,
          all with the goal of empowering others to grow and succeed in their professional journeys.
          Would you like to invite me to speak at your event?
          <a
            href={ROUTES.TALKS}
            title="Talks"
            class="bg-primary px-2 text-primary-content hover:bg-primary-hover hover:underline"
          >
            Check my latest talks.
          </a>
        </p>

        <h3 class="b-h1">One on one discussion</h3>
        <p>
          I provide one-on-one mentorship through ADPList, which I like to describe as more of a
          two-way discussion than a traditional mentorship. I understand that I may not always be
          better or more experienced than the person I’m mentoring, but I aim to share my
          perspectives and insights. I particularly enjoy discussing non-technical topics related to
          professional careers and productivity as a software engineer, though I’m also open to
          technical discussions about web technologies and related areas.
          <a
            href="https://dub.sh/mzp.adp"
            target="_blank"
            rel="me noreferrer noopener"
            title="ADPList"
            class="bg-primary px-2 text-primary-content hover:bg-primary-hover hover:underline"
          >
            Check my ADPList profile.
          </a>
        </p>
        <h3 class="b-h1">#Build in public</h3>
        <p>
          I enjoy sharing my projects with the public, as I often build them for fun and to explore
          new concepts or technologies. I actively contribute to and maintain community projects,
          including PHPID, React.js ID, and KawalCovid19. With over 11 years of experience in
          frontend development, I’m passionate about “giving back” by sharing my expertise with the
          broader community and supporting others in their learning journeys.
          <a
            href={AUTHOR_GITHUB}
            target="_blank"
            rel="me noreferrer noopener"
            title="GitHub"
            class="bg-primary px-2 text-primary-content hover:bg-primary-hover hover:underline"
          >
            Check my public code</a
          >
        </p>

        <h3 class="b-h1">Want to work together?</h3>
        <div class="mt-2 flex flex-col items-start gap-2">
          <Button
            element="a"
            colors="primary"
            variant="solid"
            href={`mailto:${AUTHOR_EMAIL}`}
            target="_blank"
            rel="me noreferrer noopener"
            title="Email"
          >
            Send me an email
          </Button>
          <small>Or copy this email manually: <code class="font-mono">{AUTHOR_EMAIL}</code></small>
        </div>
      </div>
      <div class="flex items-center justify-center md:min-w-[300px]">
        <Image
          width={300}
          src={MeInBlackSrc}
          alt="MZP In Black"
          class="rounded-3xl border-2 border-black p-4 ring-2 ring-black ring-offset-8 ring-offset-white md:rounded-none md:rounded-l-3xl dark:border-0 dark:ring-white dark:ring-offset-transparent"
        />
      </div>
    </div>
  </article>
</Centered>
<script type="application/ld+json" set:html={schema} />
