---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import Centered from '@/layouts/Centered.astro';
import Breadcrumbs from '@/components/Breadcrumbs.astro';
import { BreadcrumbItemHome } from '@/constants/breadcrumb';
import { awesomeSdeBlogs } from '@/constants/friends';
import { IMAGE_SIZES } from '@/constants/image';
import { getPageMetadata } from '@/utils/metadata';

const metadata = getPageMetadata('pages/friends');
const breadcrumbs = [BreadcrumbItemHome];
---

<Centered {metadata}>
  <article class="flex flex-col">
    <Breadcrumbs items={breadcrumbs} />
    <slot name="heading">
      <h1 class="b-h1">{metadata.title}</h1>
    </slot>
    <section class="flex flex-grow flex-col gap-4">
      <p>
        Inspired by <a
          href="https://zakiego.com/friends"
          target="blank"
          rel="noopener noreferrer"
          class="bg-primary text-black hover:bg-primary-hover hover:underline"
          >zakiego.com/friends</a
        >, I felt encouraged to create this dedicated page to highlight and share links to the blogs
        or websites of my dear friends and mentors. It’s my way of celebrating their work, ideas,
        and contributions, and providing others with the opportunity to explore their content.
        <br /><br />

        The complete list of links is available publicly in the associated repository, ensuring
        accessibility for everyone. If you would like to be included in this list, you are more than
        welcome to add your blog or website by submitting a pull request to <a
          href="https://github.com/mazipan/awesome-sde-id-blogs"
          target="blank"
          rel="noopener noreferrer"
          class="bg-primary text-black hover:bg-primary-hover hover:underline"
        >
          the repository
        </a>. This collaborative approach allows the list to grow and include a wider variety of
        voices and perspectives. Let’s make this space a hub for connection, inspiration, and mutual
        support!
      </p>

      <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-4 lg:grid-cols-5">
        {
          awesomeSdeBlogs.data.map((person) => (
            <div class="flex flex-col justify-between rounded-lg border">
              <div class="flex flex-col items-center justify-center gap-2 p-4 text-center">
                <Image
                  {...IMAGE_SIZES.FIXED.AVATAR}
                  src={person.owner.avatar}
                  alt={person.owner.name}
                  class="relative rounded-full"
                />
                <span class="font-bold">{person.owner.name}</span>
              </div>

              <div class="mt-4 flex w-full items-center justify-center gap-2">
                <a
                  href={person.owner.link}
                  class="flex flex-grow items-center justify-center rounded-bl-lg p-4 hover:text-primary focus:bg-base-200 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  {person.owner.icon === 'github' ? (
                    <Icon name="tabler:brand-github" class="h-5 w-5" />
                  ) : (
                    <Icon name="tabler:brand-x" class="h-5 w-5" />
                  )}
                </a>
                <a
                  href={person.blog.link}
                  class="flex flex-grow items-center justify-center rounded-br-lg p-4 hover:text-primary focus:bg-base-200 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <Icon name="tabler:world-www" class="h-5 w-5" />
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </article>
</Centered>
