---
import { Icon } from 'astro-icon/components';

import Link from '@/components/Link.astro';
import { ROUTES } from '@/constants/routes';
import { CONFIG_CLIENT } from '@/config/client';
import { getLatestCommitInfo } from '@/libs/git';
import { shortDate } from '@/utils/datetime';
import { limitString, trimHttpProtocol } from '@/utils/strings';

const { SITE_URL, AUTHOR_LINKEDIN, AUTHOR_GITHUB, REPO_URL } = CONFIG_CLIENT;
const domain = trimHttpProtocol(SITE_URL);
const messageLength = 20 as const;

const { time, fullHash, message } = getLatestCommitInfo();

const commitUrl = `${REPO_URL}/commit/${fullHash}`;

const shortDateStr = shortDate(new Date(time));
const trimmedMessage = limitString(message, messageLength);

// footer is full width for border, div has max-w
---

<footer class="border-t border-base-300 py-8 px-4">
  <div class="max-w-6xl md:mx-auto">
    <div class="flex justify-between gap-4 flex-col-reverse md:flex-row md:w-full">
      <!-- left column -->
      <div class="flex items-center gap-2 flex-wrap text-sm text-content whitespace-nowrap">
        <div class="flex items-center gap-2">
          <label class="font-bold">Latest commit:</label>
          <Link href={commitUrl} title={shortDateStr} target="_blank">
            {trimmedMessage}
          </Link>
        </div>
      </div>

      <!-- right column -->
      <ul class="flex gap-2 flex-wrap xs:flex-nowrap lg:items-center">
        <li>
          <Link
            href={AUTHOR_GITHUB}
            target="_blank"
            rel="me noreferrer noopener"
            title="GitHub"
            class="flex items-center gap-2 text-base xs:text-lg"
            variant="link-nav"
          >
            <Icon name="mdi:github" class="h-6 w-6 fill-current" />
          </Link>
        </li>
        <li>
          <Link
            href={AUTHOR_LINKEDIN}
            target="_blank"
            rel="me noreferrer noopener"
            title="LinkedIn"
            class="flex items-center gap-2 text-base xs:text-lg"
            variant="link-nav"
          >
            <Icon name="mdi:linkedin" class="h-6 w-6 fill-current" />
          </Link>
        </li>
        <li>
          <Link
            href={ROUTES.API.FEED_RSS}
            title={`RSS feed for ${domain}`}
            class="flex items-center gap-2 text-base xs:text-lg"
            variant="link-nav"
          >
            <Icon name="mdi:rss" class="h-6 w-6 fill-current" />
          </Link>
        </li>
      </ul>
    </div>
  </div>
</footer>
