---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import { getPublishedOrUpdatedDate } from '@/modules/common';
import Link from '@/components/Link.astro';
import { DRAFT_TEXT } from '@/constants/data';
import { IMAGE_SIZES } from '@/constants/image';
import { ROUTES } from '@/constants/routes';
import { setTransitionSlug, TRANSITION_ELEMENT_IDS } from '@/constants/transitions';
import { formatDate, formatDateIso } from '@/utils/datetime';
import { cn } from '@/utils/styles';

import type { Post } from '@/types/post';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'article'> {
  post: Post;
  withImage?: boolean;
}

const { post, class: className, withImage = false } = Astro.props;
const { data, slug } = post;
const { title, heroImage, heroAlt, description, publishDate, updatedDate, draft } = data;

const { lastAccessDate, isUpdatedDate } = getPublishedOrUpdatedDate({
  publishDate,
  updatedDate,
});

const getTransitionNameFromElementId = setTransitionSlug({ pageSlug: slug });
---

<article
  class={cn(
    'flex flex-col gap-2 xs:flex-row md:gap-4',
    'not-first:pt-2 not-last:pb-2 md:not-first:pt-4 md:not-last:pb-4',
    'border-base-300 not-last:border-b',
    className
  )}
>
  {
    withImage && (
      <Image
        {...IMAGE_SIZES.FIXED.POST_CARD_SMALL}
        src={heroImage}
        alt={heroAlt}
        class="hidden h-[80px] w-[142px] rounded-box object-cover xs:block md:size-auto"
        transition:name={getTransitionNameFromElementId({
          elementId: TRANSITION_ELEMENT_IDS.POST_CARD.HERO_IMAGE,
        })}
      />
    )
  }

  <div class="flex flex-col">
    <h4
      class="b-h4 mb-1 line-clamp-1 text-xl leading-none md:mb-2"
      transition:name={getTransitionNameFromElementId({
        elementId: TRANSITION_ELEMENT_IDS.POST_CARD.TITLE,
      })}
    >
      <Link variant="link-heading" href={`${ROUTES.BLOG}/${slug}`} class="animated-text-link">
        {title}
      </Link>
      {draft && <sup class="mr-1 text-sm text-red-500">{DRAFT_TEXT}</sup>}
    </h4>
    {
      description && (
        <p
          class="mb-2 line-clamp-1 text-base md:line-clamp-2"
          transition:name={getTransitionNameFromElementId({
            elementId: TRANSITION_ELEMENT_IDS.POST_CARD.DESCRIPTION,
          })}
        >
          {description}
        </p>
      )
    }
    <span
      class="mt-auto inline-flex items-center gap-1 text-nowrap text-sm text-captions"
      transition:name={getTransitionNameFromElementId({
        elementId: TRANSITION_ELEMENT_IDS.POST_CARD.META,
      })}
    >
      <Icon name={isUpdatedDate ? 'tabler:pencil' : 'tabler:clock'} class="h-4 w-4" />
      <time itemprop="datePublished" datetime={formatDateIso(lastAccessDate)}>
        {formatDate(lastAccessDate)}
      </time>
    </span>
  </div>
</article>
