---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import { getPublishedOrUpdatedDate } from '@/modules/common';
import Link from '@/components/Link.astro';
import { IMAGE_SIZES } from '@/constants/image';
import { ROUTES } from '@/constants/routes';
import { setTransitionSlug, TRANSITION_ELEMENT_IDS } from '@/constants/transitions';
import TagList from './TagList.astro';

import type { Project } from '@/types/project';

export interface Props {
  project: Project;
}

const { project } = Astro.props;

const { slug, data } = project;
const { title, description, heroImage, heroAlt, publishDate, updatedDate, tags } = data;

const { lastAccessDate } = getPublishedOrUpdatedDate({
  publishDate,
  updatedDate,
});

const getTransitionNameFromElementId = setTransitionSlug({ pageSlug: slug });
---

<article>
  <a
    href={`${ROUTES.PROJECTS}/${slug}`}
    class="group mb-4 block h-fit max-h-[200px] w-fit overflow-clip rounded-lg bg-base-200 bg-cover bg-center shadow-md"
  >
    <Image
      {...IMAGE_SIZES.RESPONSIVE.PROJECT_CARD}
      src={heroImage}
      alt={heroAlt}
      class="aspect-[1.75] h-[inherit] max-h-[inherit] rounded-[inherit] object-center transition-all duration-300 group-hover:scale-125"
      transition:name={getTransitionNameFromElementId({
        elementId: TRANSITION_ELEMENT_IDS.POST_CARD.HERO_IMAGE,
      })}
    />
  </a>

  <div class="mb-1 flex items-center gap-3 text-sm text-captions">
    <span class="flex items-center gap-1">
      <Icon name="tabler:calendar" class="h-4 w-4" />
      <span>
        {lastAccessDate.getFullYear()}
      </span>
    </span>

    <TagList tags={tags} size="sm" class="inline-flex" />
  </div>

  <h3 class="b-h3 mb-0 line-clamp-2 break-words">
    <Link
      href={`${ROUTES.PROJECTS}/${slug}`}
      variant="link-heading"
      transition:name={getTransitionNameFromElementId({
        elementId: TRANSITION_ELEMENT_IDS.POST_CARD.TITLE,
      })}
    >
      {title}
    </Link>
  </h3>

  {
    description && (
      <p
        class="mb-2 text-sm text-captions"
        transition:name={getTransitionNameFromElementId({
          elementId: TRANSITION_ELEMENT_IDS.POST_CARD.DESCRIPTION,
        })}
      >
        {description}
      </p>
    )
  }
</article>
