---
import { Image } from 'astro:assets';

import { getAllProjects } from '@/modules/project';
import Centered from '@/layouts/Centered.astro';
import Breadcrumbs from '@/components/Breadcrumbs.astro';
import Share from '@/components/Share.astro';
import { BreadcrumbItemHome, BreadcrumbItemProject } from '@/constants/breadcrumb';
import { IMAGE_SIZES } from '@/constants/image';
import { ROUTES } from '@/constants/routes';
import { setTransitionSlug, TRANSITION_ELEMENT_IDS } from '@/constants/transitions';
import { CONFIG_CLIENT } from '@/config/client';
import { getOpenGraphImagePath } from '@/libs/api/open-graph/image-path';

import type { Metadata } from '@/types/common';

const { SITE_URL } = CONFIG_CLIENT;

export async function getStaticPaths() {
  const sortedProjects = await getAllProjects();

  const paths = sortedProjects.map((page) => ({
    params: { slug: page.slug },
    props: { page },
  }));

  return paths;
}

const { data, render } = Astro.props.page;
const { pathname } = Astro.url;
const { slug } = Astro.params;

const image = getOpenGraphImagePath(pathname);
const { title, description, heroImage, heroAlt } = data;

const metadata: Metadata = { title, description, image };

const shareProps = {
  title,
  description,
  url: `${SITE_URL}${ROUTES.PROJECTS}${slug}`,
};
const getTransitionNameFromElementId = setTransitionSlug({ pageSlug: slug });

const { Content } = await render();
const breadcrumbs = [BreadcrumbItemHome, BreadcrumbItemProject];
---

<Centered {metadata}>
  <article class="my-prose relative">
    <Breadcrumbs items={breadcrumbs} />
    <h1
      class="b-h1 font-serif mb-2"
      transition:name={getTransitionNameFromElementId({
        elementId: TRANSITION_ELEMENT_IDS.POST_CARD.TITLE,
      })}
    >
      {title}
    </h1>
    {
      description && (
        <p
          class="font-normal text-content text-xl my-4"
          transition:name={getTransitionNameFromElementId({
            elementId: TRANSITION_ELEMENT_IDS.POST_CARD.DESCRIPTION,
          })}
        >
          {description}
        </p>
      )
    }
    {
      heroImage && (
        <Image
          {...IMAGE_SIZES.RESPONSIVE.POST_HERO}
          src={heroImage}
          alt={heroAlt}
          fetchpriority="high"
          loading="eager"
          itemprop="image"
          class="block rounded-2xl"
          transition:name={getTransitionNameFromElementId({
            elementId: TRANSITION_ELEMENT_IDS.POST_CARD.HERO_IMAGE,
          })}
        />
      )
    }
    <Content />
    <Share {...shareProps} />
  </article>
</Centered>
