---
import { getAllProjects } from '@/modules/project';
import { getTagLinks, getUniqueTags } from '@/modules/project/tag';
import List from '@/layouts/List.astro';
import Breadcrumbs from '@/components/Breadcrumbs.astro';
import FilterList from '@/components/FilterList.astro';
import Link from '@/components/Link.astro';
import ProjectList from '@/components/ProjectList.astro';
import Tag from '@/components/Tag.astro';
import { BreadcrumbItemHome, BreadcrumbItemProject } from '@/constants/breadcrumb';
import { ROUTES } from '@/constants/routes';
import { CONFIG_CLIENT } from '@/config/client';
import { getPageMetadata } from '@/utils/metadata';
import { pickPaginationPropsFromPage } from '@/utils/pagination';

import type { Metadata } from '@/types/common';
import type { FilterLink } from '@/types/post';
import type { Project } from '@/types/project';
import type { GetStaticPathsOptions, Page } from 'astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allProjects: Project[] = await getAllProjects();
  const pageSize = CONFIG_CLIENT.PAGE_SIZE_POST_CARD;

  const uniqueTags = getUniqueTags(allProjects);

  const pagination = uniqueTags.flatMap((tag) => {
    const filtered = allProjects.filter((p) => p.data.tags.includes(tag));
    const tagPagination = paginate(filtered, { pageSize, params: { tag } });
    return tagPagination;
  });

  pagination.push({ ...pagination[0], params: { ...pagination[0].params, page: '1' } });
  return pagination;
}

type Props = {
  page: Page<Project>;
};

const { page } = Astro.props;
const { tag } = Astro.params;

const title = `#${tag}`;
const defaultMetadata = getPageMetadata('lists/projects/tags/tag');
const metadata: Metadata = { ...defaultMetadata, title };

const paginationProps = pickPaginationPropsFromPage(page);
const layoutProps = { metadata, paginationProps };

const breadcrumbs = [BreadcrumbItemHome, BreadcrumbItemProject];

const allProjects = await getAllProjects();
const tagLinks = getTagLinks(allProjects, `${ROUTES.PROJECTS_TAGS}/${tag}`);
---

<List {...layoutProps}>
  <section slot="heading">
    <Breadcrumbs items={breadcrumbs} />
    <div class="flex items-baseline justify-between gap-4">
      <h1 class="b-h1 tracking-wide">{title}</h1>
      <Link href={ROUTES.PROJECTS}>all projects</Link>
    </div>
    <FilterList class="mt-4 mb-8 gap-1" itemLinks={tagLinks}>
      {
        ({ href, text, count, isActive }: FilterLink) => (
          <Tag href={href} size="md" colors={isActive ? 'primary' : 'default'}>
            #{text} ({count})
          </Tag>
        )
      }
    </FilterList>
  </section>
  <ProjectList projects={page.data} />
</List>
