---
import { getFilterLinks } from '@/modules/post';
import CategoryCard from '@/components/CategoryCard.astro';
import Tag from '@/components/Tag.astro';
import { cn } from '@/utils/styles';

import type { Filter, FilterLink } from '@/modules/post';
import type { JSX } from 'astro/jsx-runtime';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  items: Filter[];
  componentFn: (itemLink: FilterLink) => JSX.Element;
}

const { items = [], class: className, ...props } = Astro.props;
const { pathname } = Astro.url;

const itemLinks = getFilterLinks(items, pathname);

// fix this, category card with icon, tag TagList, CategoryList
---

{
  itemLinks.length > 0 && (
    <ul {...props} class={cn('flex flex-wrap gap-2', className)}>
      {itemLinks.map(({ href, text, textWithCount, isActive, type }) => (
        <li class="inline-block">
          {type === 'tag' && (
            <Tag href={href} size="md" class={cn({ 'underline font-bold text-accent': isActive })}>
              {textWithCount}
            </Tag>
          )}
          {type === 'category' && (
            <CategoryCard {href} category={text}>
              {textWithCount}
            </CategoryCard>
          )}
        </li>
      ))}
    </ul>
  )
}
